In [47]:
import pandas as pd

In [48]:
import numpy as np

In [49]:
df = pd.read_csv('dataset/bank-additional-full.csv')

In [50]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [52]:
x = pd.DataFrame(df.iloc[:,[10,0,11]])

In [53]:
x

       duration  age  campaign
0           261   56         1
1           149   57         1
2           226   37         1
3           151   40         1
4           307   56         1
...         ...  ...       ...
41183       334   73         1
41184       383   46         1
41185       189   56         2
41186       442   44         1
41187       239   74         3

[41188 rows x 3 columns]

In [54]:
y = df.iloc[:,-1]

In [55]:
y

0         no
1         no
2         no
3         no
4         no
        ...
41183    yes
41184     no
41185     no
41186    yes
41187     no
Name: y, Length: 41188, dtype: object

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [58]:
x_train

       duration  age  campaign
39075        77   29         3
34855        12   29         4
7107        277   45         2
31614        70   34         1
34878      1181   32         9
...         ...  ...       ...
6265        427   58         2
11284       288   37         1
38158       194   35         1
860         295   40         2
15795       333   29         2

[28831 rows x 3 columns]

In [59]:
x_test

       duration  age  campaign
32884       371   57         1
3169        285   55         2
32206        52   33         1
9403        355   36         4
14020       189   27         2
...         ...  ...       ...
15908       181   46         2
28222       620   38         1
14194       251   26         2
19764        50   51         3
26052       221   45         2

[12357 rows x 3 columns]

In [60]:
y_train

39075     no
34855     no
7107      no
31614     no
34878     no
        ...
6265      no
11284     no
38158    yes
860       no
15795     no
Name: y, Length: 28831, dtype: object

In [61]:
y_test

32884    no
3169     no
32206    no
9403     no
14020    no
         ..
15908    no
28222    no
14194    no
19764    no
26052    no
Name: y, Length: 12357, dtype: object

In [62]:
from sklearn.linear_model import LogisticRegression

In [63]:
lr = LogisticRegression()

In [64]:
lr.fit(x_train,y_train)

LogisticRegression()

In [70]:
y_pred = lr.predict(x_test)

In [93]:
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,recall_score

In [94]:
lr.score(x_train,y_train)

0.8929277513787243

In [95]:
accuracy_score(y_test,y_pred)

0.893825362142915

In [96]:
df1 = pd.read_csv('dataset/data_banknote_authentication.csv')

In [97]:
df1

      variance  skewness  curtosis  entropy  class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]

In [98]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   variance  1372 non-null   float64
 1   skewness  1372 non-null   float64
 2   curtosis  1372 non-null   float64
 3   entropy   1372 non-null   float64
 4   class     1372 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [99]:
X = pd.DataFrame(df1.iloc[:,[0,1,2,3]])

In [100]:
X

      variance  skewness  curtosis  entropy
0      3.62160   8.66610   -2.8073 -0.44699
1      4.54590   8.16740   -2.4586 -1.46210
2      3.86600  -2.63830    1.9242  0.10645
3      3.45660   9.52280   -4.0112 -3.59440
4      0.32924  -4.45520    4.5718 -0.98880
...        ...       ...       ...      ...
1367   0.40614   1.34920   -1.4501 -0.55949
1368  -1.38870  -4.87730    6.4774  0.34179
1369  -3.75030 -13.45860   17.5932 -2.77710
1370  -3.56370  -8.38270   12.3930 -1.28230
1371  -2.54190  -0.65804    2.6842  1.19520

[1372 rows x 4 columns]

In [101]:
Y = df1.iloc[:,-1]

In [102]:
Y

0       0
1       0
2       0
3       0
4       0
       ..
1367    1
1368    1
1369    1
1370    1
1371    1
Name: class, Length: 1372, dtype: int64

In [103]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=42)

In [104]:
X_train

      variance  skewness  curtosis  entropy
879  -0.568770    1.4174  -1.42520 -1.12460
783   0.473680    3.3605  -4.50640 -4.04310
605   1.065200    8.3682  -1.40040 -1.65090
1253 -4.553100  -12.5854  15.44170 -1.49830
497  -0.048008   -1.6037   8.47560  0.75558
...        ...       ...       ...      ...
1095  1.164000    3.9130  -4.55440 -3.86720
1130 -2.291800   -7.2570   7.95970  0.92110
1294 -7.036400    9.2931   0.16594 -4.53960
860  -3.460500    2.6901   0.16165 -1.02240
1126 -3.358200   -7.2404  11.44190 -0.57113

[960 rows x 4 columns]

In [105]:
X_test

      variance  skewness  curtosis   entropy
430   1.569100   6.34650  -0.18280 -2.409900
588  -0.278020   8.18810  -3.13380 -2.527600
296   0.051979   7.05210  -2.05410 -3.150800
184  -1.755900  11.94590   3.09460 -4.897800
244   2.428700   9.38210  -3.24770 -1.454300
...        ...       ...       ...       ...
843  -0.526450  -0.24832  -0.45613  0.419380
494   2.569800  -4.40760   5.98560  0.078002
1032  0.163580  -3.35840   1.37490  1.356900
710   2.401200   1.62230   3.03120  0.716790
333   3.000900   5.81260  -2.23060 -0.665530

[412 rows x 4 columns]

In [106]:
Y_train

879     1
783     1
605     0
1253    1
497     0
       ..
1095    1
1130    1
1294    1
860     1
1126    1
Name: class, Length: 960, dtype: int64

In [107]:
Y_test

430     0
588     0
296     0
184     0
244     0
       ..
843     1
494     0
1032    1
710     0
333     0
Name: class, Length: 412, dtype: int64

In [108]:
r12 = LogisticRegression()

In [109]:
r12.fit(X_train,Y_train)

LogisticRegression()

In [111]:
Y_pred = r12.predict(X_test)

In [112]:
confusion_matrix(Y_test,Y_pred)

array([[226,   3],
       [  2, 181]], dtype=int64)

In [113]:
precision_score(Y_test,Y_pred)

0.9836956521739131

In [114]:
recall_score(Y_test,Y_pred)

0.9890710382513661