In [ ]:
pandas series

In [4]:
import pandas as pd
s1 = pd.Series([1,2,3,4,5,6,7,8,9,100])
print(s1)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9    100
dtype: int64

In [12]:
import pandas as pd
s1 = pd.Series([1,2,3,4,5,6,7,8,9,100], dtype = float)
print(s1)

0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      9.0
9    100.0
dtype: float64

In [14]:
import pandas as pd
s1 = pd.Series([1,2,113,4,5,6,7,8,9,10],index = (["kl rahul","rohit sharma","virat kholi","surya","hardik","dinesh","ash","jp","yc","bk"]))
print(s1)

kl rahul          1
rohit sharma      2
virat kholi     113
surya             4
hardik            5
dinesh            6
ash               7
jp                8
yc                9
bk               10
dtype: int64

In [9]:
import pandas as pd
i = pd.Index(["kl rahul","rohit sharma","virat kholi","surya","hardik","dinesh","ash","jp","yc","bk"])
s1 = pd.Series([1,2,113,4,5,6,7,8,9,10],index = i)
print(s1)

kl rahul          1
rohit sharma      2
virat kholi     113
surya             4
hardik            5
dinesh            6
ash               7
jp                8
yc                9
bk               10
dtype: int64

In [13]:
import pandas as pd
s2 = ({"a":1,"b":2,"c":3,"d":4})
print(s2)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}