# Import mysql connector

In [7]:
import mysql.connector as con

# connection to database

In [9]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root"
)
print(new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002531DDBD8E0>

# creating a database

In [10]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root")
new_cur = new_db.cursor()
new_cur.execute("CREATE DATABASE college")

# check if database exist

In [11]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root")
new_cur = new_db.cursor()
new_cur.execute("SHOW DATABASES")
for i in new_cur:
    print(i)

('college',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

# showing tables from database

In [18]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "college")
new_cur = new_db.cursor()
new_cur.execute("SHOW TABLES")
for i in new_cur:
    print(i)

('student',)
('student1',)

# creating tables

In [15]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "college")
new_cur = new_db.cursor()
new_cur.execute("CREATE TABLE student1(name varchar(900),regno varchar(10))")

# inserting into tables

In [20]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "college")
new_cur = new_db.cursor()
query = "INSERT INTO student1(name,regno) values(%s,%s)"
values = "tanishk","393cs20029"
new_cur.execute(query,values)
new_db.commit()
print(new_cur.rowcount,"new record inserted")

1 new record inserted

# inserting multiple values into table

In [29]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "college")
new_cur = new_db.cursor()
query = "INSERT INTO student1(name,regno) values(%s,%s)"
values = [("abhishek","393cs19002"),
          ("rahul","393cs20012"),
          ("prajwal","393cs20013"),
          ("gururaj","393cs21702")
         ]
new_cur.executemany(query,values)
new_db.commit()
print(new_cur.rowcount,"new record inserted")

4 new record inserted

In [32]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "college")
new_cur = new_db.cursor()
new_cur.execute("SELECT * FROM student1")
for i in new_cur:
    print(i)

('tanishk', '393cs20029')
('abhishek', '393cs19002')
('rahul', '393cs20012')
('prajwal', '393cs20013')
('gururaj', '393cs21702')

In [ ]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "college")
new_cur = new_db.cursor()
new_cur.execute("SELECT name FROM student1")
for i in new_cur:
    print(i)

In [1]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "college")
new_cur = new_db.cursor()
new_cur.execute("SELECT * FROM student1")
for i in new_cur:
    print(i)

('tanishk', '393cs20029')
('abhishek', '393cs19002')
('rahul', '393cs20012')
('prajwal', '393cs20013')
('gururaj', '393cs21702')