In [217]:
import pandas as pd
import numpy as np
df = pd.read_csv('dataset/place.csv')

In [218]:
df

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [219]:
df.isnull().sum()

cgpa       0
package    0
dtype: int64

In [220]:
x = pd.DataFrame(df.iloc[:,0])

In [221]:
x

     cgpa
0    6.89
1    5.12
2    7.82
3    7.42
4    6.94
..    ...
195  6.93
196  5.89
197  7.21
198  7.63
199  6.22

[200 rows x 1 columns]

In [222]:
y = df.iloc[:,-1]

In [223]:
y

0      3.26
1      1.98
2      3.25
3      3.67
4      3.57
       ...
195    2.46
196    2.57
197    3.24
198    3.96
199    2.33
Name: package, Length: 200, dtype: float64

In [224]:
from sklearn.model_selection import train_test_split

In [225]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [226]:
x_train

     cgpa
137  7.14
163  8.93
111  5.42
123  5.10
109  7.77
..    ...
43   7.66
22   6.14
72   7.78
15   7.25
168  8.65

[160 rows x 1 columns]

In [227]:
x_test

     cgpa
112  8.58
29   7.15
182  5.88
199  6.22
193  4.57
85   4.79
10   5.32
54   6.86
115  8.35
35   6.87
12   8.94
92   7.90
13   6.93
126  5.91
174  7.32
2    7.82
44   5.09
3    7.42
113  6.94
14   7.73
23   6.19
25   7.28
6    6.73
134  7.20
165  8.21
173  6.75
45   7.87
65   7.60
48   8.63
122  5.12
178  8.15
64   7.36
9    8.31
57   6.60
78   6.59
71   7.47
128  7.93
176  6.29
131  6.37
53   6.47

In [228]:
y_train

137    3.13
163    3.91
111    2.25
123    2.30
109    4.06
       ...
43     2.76
22     2.30
72     3.62
15     3.23
168    3.52
Name: package, Length: 160, dtype: float64

In [229]:
y_test

112    4.10
29     3.49
182    2.08
199    2.33
193    1.94
85     1.48
10     1.86
54     3.09
115    4.21
35     2.87
12     3.65
92     4.00
13     2.89
126    2.60
174    2.99
2      3.25
44     1.86
3      3.67
113    2.37
14     3.42
23     2.48
25     3.65
6      2.60
134    2.83
165    4.08
173    2.56
45     3.58
65     3.81
48     4.09
122    2.01
178    3.63
64     2.92
9      3.51
57     1.94
78     2.21
71     3.34
128    3.34
176    3.23
131    2.01
53     2.61
Name: package, dtype: float64

In [230]:
from sklearn.linear_model import LinearRegression

In [231]:
lr = LinearRegression()

In [232]:
lr.fit(x_train,y_train)

LinearRegression()

In [233]:
y_pred = lr.predict(x_test)

In [234]:
from sklearn.metrics import r2_score

In [235]:
lr_r2=r2_score(y_test,y_pred)
lr_r2

0.780730147510384

In [236]:
from sklearn.metrics import mean_absolute_error

In [237]:
lr_mae = mean_absolute_error(y_test,y_pred)
lr_mae

0.2884710931878175

In [238]:
from sklearn.metrics import mean_squared_error

In [239]:
lr_mse = mean_squared_error(y_test,y_pred)
lr_mse

0.12129235313495527

In [240]:
lr_rmse = np.sqrt(lr_mse)
lr_rmse

0.34827051717731616

In [241]:
from sklearn.ensemble import RandomForestRegressor

In [290]:
rfr = RandomForestRegressor(n_estimators = 100,random_state = 0)

In [291]:
rfr.fit(x_train,y_train)

RandomForestRegressor(random_state=0)

In [292]:
a = rfr.predict(x_test)

In [293]:
rfr_r2 = r2_score(y_test,a)
rfr_r2

0.7048919868621597

In [285]:
rfr_mae=mean_absolute_error(y_test,a)
rfr_mae

0.3362110243055555

In [247]:
rfr_mse = mean_squared_error(y_test,a)
rfr_mse

0.16607608108157346

In [248]:
rfr_rmse = np.sqrt(rfr_mse)
rfr_rmse

0.4075243318889971

In [249]:
#support vector regression
from sklearn.svm import SVR

In [250]:
svr = SVR(kernel = 'rbf')

In [251]:
svr.fit(x_train,y_train)

SVR()

In [252]:
b = svr.predict(x_test)

In [253]:
svr_r2 = r2_score(y_test,b)

In [254]:
svr_mae = mean_absolute_error(y_test,b)
svr_mae

0.2951826040245443

In [255]:
svr_mse = mean_squared_error(y_test,b)
svr_mse

0.12615320437359695

In [256]:
svr_rmse = np.sqrt(svr_mse)
svr_rmse

0.3551805236405805

In [257]:
from sklearn.linear_model import Lasso

In [258]:
la = Lasso(alpha = 3.0)

In [259]:
la.fit(x_train,y_train)

Lasso(alpha=3.0)

In [260]:
c = la.predict(x_test)
c

array([3.0039375, 3.0039375, 3.0039375, 3.0039375, 3.0039375, 3.0039375,
       3.0039375, 3.0039375, 3.0039375, 3.0039375, 3.0039375, 3.0039375,
       3.0039375, 3.0039375, 3.0039375, 3.0039375, 3.0039375, 3.0039375,
       3.0039375, 3.0039375, 3.0039375, 3.0039375, 3.0039375, 3.0039375,
       3.0039375, 3.0039375, 3.0039375, 3.0039375, 3.0039375, 3.0039375,
       3.0039375, 3.0039375, 3.0039375, 3.0039375, 3.0039375, 3.0039375,
       3.0039375, 3.0039375, 3.0039375, 3.0039375])

In [261]:
la_r2 = r2_score(y_test,c)
la_r2

-0.0028116694099722395

In [262]:
la_mae = mean_absolute_error(y_test,c)
la_mae

0.6426968750000001

In [263]:
la_mse=mean_squared_error(y_test,c)
la_mse

0.5547200664062499

In [264]:
la_rmse = np.sqrt(la_mse)
la_rmse

0.7447953184642409

In [265]:
pd.DataFrame({'linear_regression':[lr_r2,lr_mse,lr_mae,lr_rmse],'random_forest_regression':[rfr_r2,rfr_mse,rfr_mae,rfr_rmse],'lasso':[la_r2,la_mse,la_mae,rfr_rmse],'support_vector_regression':[svr_r2,svr_mse,svr_mae,svr_rmse]},index=['r2_score','mse','mae','rmse'])

,linear_regression,random_forest_regression,lasso,support_vector_regression
r2_score,0.780730,0.699771,-0.002812,0.771943
mse,0.121292,0.166076,0.554720,0.126153
mae,0.288471,0.339617,0.642697,0.295183
rmse,0.348271,0.407524,0.407524,0.355181